.login{
    display: flex;
    background: rgb(219, 108, 108);
    width: 700px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 100px;
    
}
.logo{
    background: rgb(247, 232, 34);
    height: 100%;
    width: 100%;
}

.form{
    background: rgb(49, 212, 131);
    height: 100%;
    width: 100%;
}

.title{
    color: rgb(223, 90, 28);
    margin-top: 200px;
    margin-bottom: 150px;
}